interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://connect.mailerlite.com/api/automations/112078014094771336
  response:
    body:
      string: '{"data":{"id":"112078014094771336","name":"Simple welcome email","enabled":false,"trigger_data":{"track_ecommerce":false,"repeatable":false,"valid":true,"complete_workflow":true,"broken_workflow":false},"triggers":[{"id":"112078014883300686","type":"subscriber_joins_group","group_ids":["100093655191127682"],"groups":[{"id":"100093655191127682","name":"Grupa
        1","url":"https:\/\/dashboard.mailerlite.com\/subscribers?rules=W1t7Im9wZXJhdG9yIjoiaW5fYW55IiwiY29uZGl0aW9uIjoiZ3JvdXBzIiwiYXJncyI6WyJncm91cHMiLFsiMTAwMDkzNjU1MTkxMTI3NjgyIl1dfV1d"}],"exclude_group_ids":[],"excluded_groups":[],"broken":false,"complete":true}],"complete":true,"broken":false,"warnings":[],"emails_count":1,"stats":{"completed_subscribers_count":0,"subscribers_in_queue_count":0,"bounce_rate":{"float":0,"string":"0%"},"click_to_open_rate":{"float":0,"string":"0%"},"sent":0,"opens_count":0,"unique_opens_count":null,"open_rate":{"float":0,"string":"0%"},"clicks_count":0,"unique_clicks_count":null,"click_rate":{"float":0,"string":"0%"},"unsubscribes_count":0,"unsubscribe_rate":{"float":0,"string":"0%"},"spam_count":0,"spam_rate":{"float":0,"string":"0%"},"hard_bounces_count":0,"hard_bounce_rate":{"float":0,"string":"0%"},"soft_bounces_count":0,"soft_bounce_rate":{"float":0,"string":"0%"},"forward_rate":{"float":0,"string":"0%"},"social_interactions_count":null,"social_interaction_rate":{"float":0,"string":"0%"}},"created_at":"2024-02-02
        14:58:43","has_banned_content":false,"qualified_subscribers_count":1,"automation_template_id":1,"automation_template_name":"Simple
        welcome email","steps":[{"id":"112078014902174936","type":"email","parent_id":null,"name":"Welcome
        email","subject":"Welcome email","from":"igor@mailerlite.com","from_name":"igor@mailerlite.com","reply_to":"igor@mailerlite.com","email_id":"112078014893786447","email":{"id":"112078014893786447","account_id":"83510","emailable_id":"112078014094771336","emailable_type":"automations","type":"builder","from":"igor@mailerlite.com","from_name":"igor@mailerlite.com","reply_to":"igor@mailerlite.com","name":"Welcome
        email","subject":"Welcome email","plain_text":"Hello,\n\nYou have received
        a newsletter from {$account}.\n\nHowever, your email software can''t display
        HTML emails. You can view the newsletter by clicking here:\n\n{$url}{link-id:112078108400551892}\n\n\n\nYou''re
        receiving this newsletter because you have shown interest in {$account}.\nNot
        interested anymore? Click here to unsubscribe:\n{$unsubscribe}{link-id:112078108397406163}","screenshot_url":"https:\/\/storage.googleapis.com\/mailerlite-screenshots-prod\/screenshot\/emails\/112078014893786447\/1284x7362024-02-02-15:00:14.png","generate_screenshot_timestamp":null,"preview_url":"https:\/\/preview.mailerlite.io\/preview\/83510\/emails\/112078014893786447","created_at":"2024-02-02
        14:58:44","updated_at":"2025-08-29 10:23:40","is_designed":true,"language_id":4,"is_winner":false,"stats":{"sent":0,"opens_count":0,"open_rate":{"float":0,"string":"0%"},"clicks_count":0,"click_rate":{"float":0,"string":"0%"},"unsubscribes_count":0,"unsubscribe_rate":{"float":0,"string":"0%"},"spam_count":0,"spam_rate":{"float":0,"string":"0%"},"hard_bounces_count":0,"hard_bounce_rate":{"float":0,"string":"0%"},"soft_bounces_count":0,"soft_bounce_rate":{"float":0,"string":"0%"},"forwards_count":0,"forward_rate":{"float":0,"string":"0%"},"social_interactions_count":0,"social_interaction_rate":{"float":0,"string":"0%"},"click_to_open_rate":{"float":0,"string":"0%"}},"send_after":null,"track_opens":true,"uses_survey":false,"uses_quiz":false,"preheader":""},"language_id":4,"complete":false,"created_at":"2024-02-02
        14:58:44","updated_at":"2025-08-29 10:23:40","track_opens":true,"google_analytics":null,"tracking_was_disabled":false,"broken":false,"has_unsubscribe_url":true,"eligible_for_sending":false,"preheader":"","builder_type":"builder","description":"Send
        \"Welcome email\" email","type_count":1}]}}'
    headers:
      Content-Type:
      - application/json
      x-account_id:
      - '83510'
      x-locale:
      - en
      x-ratelimit-limit:
      - '120'
      x-ratelimit-remaining:
      - '118'
      x-user_id:
      - '106223'
    status:
      code: 200
      message: OK
version: 1
