interactions:
- request:
    body: '{"requests": [{"method": "GET", "path": "api/subscribers/list"}, {"method":
      "GET", "path": "api/campaigns/list"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://connect.mailerlite.com/api/batch
  response:
    body:
      string: '{"total":2,"successful":0,"failed":2,"responses":[{"code":404,"body":{"message":"No
        query results for model [App\\Models\\Subscriber\\Subscriber]."}},{"code":404,"body":{"message":"The
        route api\/campaigns\/list could not be found."}}]}'
    headers:
      Content-Type:
      - application/json
      x-account_id:
      - '83510'
      x-locale:
      - en
      x-ratelimit-limit:
      - '120'
      x-ratelimit-remaining:
      - '118'
      x-user_id:
      - '106223'
    status:
      code: 200
      message: OK
version: 1
