interactions:
- request:
    body: '{"delivery": "scheduled", "schedule": {"date": "2025-09-21", "hours": "22",
      "minutes": "00"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://connect.mailerlite.com/api/campaigns/165969226036676056/schedule
  response:
    body:
      string: '{"data":{"id":"165969226036676056","account_id":"83510","name":"New
        Campaign Name","type":"regular","status":"ready","missing_data":[],"settings":{"track_opens":true,"use_google_analytics":false,"ecommerce_tracking":false},"filter":[],"filter_for_humans":[],"delivery_schedule":"scheduled","language_id":"1","created_at":"2025-09-19
        11:16:28","updated_at":"2025-09-19 11:16:33","scheduled_for":"2025-09-21 20:00:00","queued_at":null,"started_at":null,"finished_at":null,"stopped_at":null,"default_email_id":"165969226051356122","emails":[{"id":"165969226051356122","account_id":"83510","emailable_id":"165969226036676056","emailable_type":"campaigns","type":"builder_html","from":"sdk@igor.fail","from_name":"Test
        Man","reply_to":"test@igor.fail","name":null,"subject":"This is a new test
        campaign subject","content":"<!DOCTYPE html>\n<html>\n  <head>\n    <!--{$head_top}--><!--{$head_bottom}-->\n    <title>This
        is a new test campaign subject<\/title>\n  <\/head>\n  <body class=\"\" style=\"\">\n    <!--{$body_top}-->\n    <!--{$body_top}-->\n    <h1>\n      Test\n    <\/h1><!--{$body_bottom}-->\n    <style
        type=\"text\/css\">\n    .mlFooter p {\n    margin: 0;\n    }\n\n    @media
        only screen and (max-width: 640px) {\n    .mlContentTable{\n      width: 100%!important;\n      min-width:
        10%!important;\n      margin: 0!important;\n      float: none!important;\n    }\n\n    .mlContentOuter{\n      padding-bottom:
        0!important;\n      padding-left: 15px!important;\n      padding-right: 15px!important;\n      padding-top:
        0!important;\n    }\n    }\n    <\/style><!--{$body_bottom}-->\n  <\/body>\n<\/html>","plain_text":"Sveiki,\n\nJ\u016bs
        gavote {$account} naujienlai\u0161k\u012f. Ta\u010diau J\u016bs\u0173 el.
        pa\u0161to programa nepalaiko HTML formato.\n\nNaujienlai\u0161k\u012f galite
        rasti \u010dia:\n\n{$url}\n\nPagarbiai,\n{$account}\n\n\n\nJeigu ateityje
        nebenorite gauti {$account} naujien\u0173, spauskite \u010dia:\n{$unsubscribe}\n","screenshot_url":null,"generate_screenshot_timestamp":"2025-09-19
        11:16:31","preview_url":"https:\/\/preview.mailerlite.io\/preview\/83510\/emails\/165969226051356122","created_at":"2025-09-19
        11:16:28","updated_at":"2025-09-19 11:16:31","is_designed":true,"language_id":1,"language":{"id":"1","shortcode":"lt","iso639":"lt-LT","name":"Lietuvi\u0161kai","direction":"ltr"},"is_winner":false,"stats":{"sent":0,"opens_count":0,"open_rate":{"float":0,"string":"0%"},"clicks_count":0,"click_rate":{"float":0,"string":"0%"},"unsubscribes_count":0,"unsubscribe_rate":{"float":0,"string":"0%"},"spam_count":0,"spam_rate":{"float":0,"string":"0%"},"hard_bounces_count":0,"hard_bounce_rate":{"float":0,"string":"0%"},"soft_bounces_count":0,"soft_bounce_rate":{"float":0,"string":"0%"},"forwards_count":0,"forward_rate":{"float":0,"string":"0%"},"social_interactions_count":0,"social_interaction_rate":{"float":0,"string":"0%"},"click_to_open_rate":{"float":0,"string":"0%"}},"send_after":null,"track_opens":true,"uses_survey":false,"uses_quiz":false,"preheader":null}],"used_in_automations":false,"type_for_humans":"Regular","is_stopped":false,"has_winner":null,"winner_version_for_human":null,"winner_sending_time_for_humans":null,"winner_selected_manually_at":null,"can":{"update":true,"delete":true,"send":true,"copy":true,"resend":false},"uses_ecommerce":false,"ecommerce_stats":null,"uses_survey":false,"can_be_scheduled":false,"is_smart_sending_index_option_finished":false,"is_applied_for_smart_sending_index_option":false,"warnings":[],"is_currently_sending_out":false,"can_be_copied":true,"has_basic_filter":true,"basic_filter_for_humans":{"included_groups":[],"excluded_groups":[],"included_segments":[],"excluded_segments":[],"all_active_subscribers":true},"is_eligible_for_sending":true,"needs_repair":false}}'
    headers:
      Content-Type:
      - application/json
      x-account_id:
      - '83510'
      x-locale:
      - en
      x-ratelimit-limit:
      - '120'
      x-ratelimit-remaining:
      - '115'
      x-user_id:
      - '106223'
    status:
      code: 200
      message: OK
version: 1
