interactions:
- request:
    body: '{"delivery": "scheduled", "schedule": {"date": "2024-03-31", "hours": "22",
      "minutes": "00"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://connect.mailerlite.com/api/campaigns/112080931966158193/schedule
  response:
    body:
      string: "{\n    \"message\": \"Campaign cannot be scheduled\"\n}"
    headers:
      Content-Type:
      - application/json
      X-Locale:
      - en
      X-RateLimit-Limit:
      - '120'
      X-RateLimit-Remaining:
      - '113'
    status:
      code: 422
      message: Unprocessable Entity
version: 1
