interactions:
- request:
    body: 'null'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://connect.mailerlite.com/api/campaigns/139788917762163910/reports/subscriber-activity
  response:
    body:
      string: '{"data":[{"id":"139789081474237740","opens_count":2,"clicks_count":0},{"id":"139789081489966385","opens_count":3,"clicks_count":0}],"links":{"first":"https:\/\/connect.mailerlite.com\/api\/campaigns\/139788917762163910\/reports\/subscriber-activity?page=1","last":"https:\/\/connect.mailerlite.com\/api\/campaigns\/139788917762163910\/reports\/subscriber-activity?page=1","prev":null,"next":null},"meta":{"current_page":1,"from":1,"last_page":1,"links":[{"url":null,"label":"&laquo;
        Previous","active":false},{"url":"https:\/\/connect.mailerlite.com\/api\/campaigns\/139788917762163910\/reports\/subscriber-activity?page=1","label":"1","active":true},{"url":null,"label":"Next
        &raquo;","active":false}],"path":"https:\/\/connect.mailerlite.com\/api\/campaigns\/139788917762163910\/reports\/subscriber-activity","per_page":50,"to":2,"total":2,"aggregations":{"all":2,"opened":2,"unopened":0,"clicked":0,"unsubscribed":0,"forwarded":0,"hardbounced":0,"softbounced":0,"social_interaction":0,"junk":0}}}'
    headers:
      Content-Type:
      - application/json
      x-account_id:
      - '83510'
      x-locale:
      - en
      x-ratelimit-limit:
      - '120'
      x-ratelimit-remaining:
      - '111'
      x-user_id:
      - '106223'
    status:
      code: 200
      message: OK
version: 1
