interactions:
- request:
    body: '{"name": "New Campaign Name", "language_id": 1, "emails": [{"subject":
      "This is a new test campaign subject", "from_name": "Test Man", "from": "testuser@mailerlite.com"}]}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://connect.mailerlite.com/api/campaigns/112080931966158193
  response:
    body:
      string: "{\n    \"message\": \"Server Error\"\n}"
    headers:
      Content-Type:
      - application/json
      X-Locale:
      - en
      X-RateLimit-Limit:
      - '120'
      X-RateLimit-Remaining:
      - '116'
    status:
      code: 500
      message: Internal Server Error
version: 1
