interactions:
- request:
    body: '{"name": "My Field", "type": "text"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://connect.mailerlite.com/api/fields
  response:
    body:
      string: '{"data":{"id":"947147","name":"My Field","key":"my_field","type":"text","is_default":false}}'
    headers:
      Content-Type:
      - application/json
      x-account_id:
      - '83510'
      x-locale:
      - en
      x-ratelimit-limit:
      - '120'
      x-ratelimit-remaining:
      - '111'
      x-user_id:
      - '106223'
    status:
      code: 201
      message: Created
version: 1
