interactions:
- request:
    body: '{"name": "My New Field Name"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://connect.mailerlite.com/api/fields/947147
  response:
    body:
      string: '{"data":{"id":"947147","name":"My New Field Name","key":"my_field","type":"text","is_default":false}}'
    headers:
      Content-Type:
      - application/json
      x-account_id:
      - '83510'
      x-locale:
      - en
      x-ratelimit-limit:
      - '120'
      x-ratelimit-remaining:
      - '109'
      x-user_id:
      - '106223'
    status:
      code: 200
      message: OK
version: 1
