interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://connect.mailerlite.com/api/fields?limit=10&page=1&sort=name
  response:
    body:
      string: '{"data":[{"id":"5","name":"City","key":"city","type":"text","is_default":true,"used_in_automations":false},{"id":"3","name":"Company","key":"company","type":"text","is_default":true,"used_in_automations":false},{"id":"4","name":"Country","key":"country","type":"text","is_default":true,"used_in_automations":false},{"id":"2","name":"Last
        name","key":"last_name","type":"text","is_default":true,"used_in_automations":false},{"id":"947147","name":"My
        Field","key":"my_field","type":"text","is_default":false,"used_in_automations":false},{"id":"1","name":"Name","key":"name","type":"text","is_default":true,"used_in_automations":false},{"id":"6","name":"Phone","key":"phone","type":"text","is_default":true,"used_in_automations":false},{"id":"7","name":"State","key":"state","type":"text","is_default":true,"used_in_automations":false},{"id":"8","name":"Zip","key":"z_i_p","type":"text","is_default":true,"used_in_automations":false}],"links":{"first":"https:\/\/connect.mailerlite.com\/api\/fields?page=1","last":"https:\/\/connect.mailerlite.com\/api\/fields?page=1","prev":null,"next":null},"meta":{"current_page":1,"from":1,"last_page":1,"links":[{"url":null,"label":"&laquo;
        Previous","active":false},{"url":"https:\/\/connect.mailerlite.com\/api\/fields?page=1","label":"1","active":true},{"url":null,"label":"Next
        &raquo;","active":false}],"path":"https:\/\/connect.mailerlite.com\/api\/fields","per_page":10,"to":9,"total":9}}'
    headers:
      Content-Type:
      - application/json
      x-account_id:
      - '83510'
      x-locale:
      - en
      x-ratelimit-limit:
      - '120'
      x-ratelimit-remaining:
      - '110'
      x-user_id:
      - '106223'
    status:
      code: 200
      message: OK
version: 1
