interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://connect.mailerlite.com/api/forms/141163052291589265/subscribers?page=1&limit=20&filter%5Bstatus%5D=active
  response:
    body:
      string: '{"data":[],"links":{"first":null,"last":null,"prev":null,"next":null},"meta":{"path":"https:\/\/connect.mailerlite.com\/api\/forms\/141163052291589265\/subscribers","per_page":20,"next_cursor":null,"prev_cursor":null}}'
    headers:
      Content-Type:
      - application/json
      x-account_id:
      - '83510'
      x-locale:
      - en
      x-ratelimit-limit:
      - '120'
      x-ratelimit-remaining:
      - '103'
      x-user_id:
      - '106223'
    status:
      code: 200
      message: OK
version: 1
