interactions:
- request:
    body: '{"name": "New Form Name"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://connect.mailerlite.com/api/forms/141163052291589265
  response:
    body:
      string: '{"data":{"id":"141163052291589265","account_id":"83510","type":"popup","slug":"2HLgfJ","name":"New
        Form Name","created_at":"2024-12-19 15:52:57","conversions_count":0,"opens_count":0,"conversion_rate":{"float":0,"string":"0%"},"conversions_count_including_children":0,"opens_count_including_children":0,"conversion_rate_including_children":{"float":0,"string":"0%"},"settings":{"double_optin":true,"groot_id":20939090,"form_type":"popup","triggers":["timeout"],"timeout_seconds":5,"scroll_percentage":50,"frequency":1,"frequency_unit":"months","visibility":"always","url_list":[],"url_list_strict":null,"hide_on":[],"schedule":false,"needs_content_refresh":false},"last_registration_at":null,"active":false,"is_broken":false,"warning_messages":[],"has_content":true,"can_choose_template":false,"can":{"update":true},"used_in_automations":false,"warnings":[],"double_optin":true,"screenshot_url":"https:\/\/storage.googleapis.com\/mailerlite-screenshots-prod\/screenshot\/forms\/141163052291589265\/1284x12842024-12-19-15:56:53.png","has_missing_groups":false,"groups":[{"id":"100093655191127682","name":"Grupa
        1","active_count":1,"sent_count":4,"opens_count":4,"open_rate":{"float":1,"string":"100%"},"clicks_count":2,"click_rate":{"float":0.5,"string":"50%"},"unsubscribed_count":0,"unconfirmed_count":0,"bounced_count":0,"junk_count":0,"created_at":"2023-09-23
        08:12:28"},{"id":"107641605251400900","name":"Grupa2","active_count":9,"sent_count":8,"opens_count":7,"open_rate":{"float":0.875,"string":"87.5%"},"clicks_count":2,"click_rate":{"float":0.25,"string":"25%"},"unsubscribed_count":0,"unconfirmed_count":0,"bounced_count":0,"junk_count":0,"created_at":"2023-12-15
        15:43:54"}],"has_split_tests":false,"split_test_finished":false,"split_test_enabled":false,"split_percentage":0,"is_split_test_winner":false,"children":[],"parent_id":null,"original_name":null,"analytics_reset_at":null,"uses_survey":false,"uses_new_builder":false}}'
    headers:
      Content-Type:
      - application/json
      x-account_id:
      - '83510'
      x-locale:
      - en
      x-ratelimit-limit:
      - '120'
      x-ratelimit-remaining:
      - '104'
      x-user_id:
      - '106223'
    status:
      code: 200
      message: OK
version: 1
