interactions:
- request:
    body: '{"name": "New group name"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://connect.mailerlite.com/api/groups/165971156405323676
  response:
    body:
      string: '{"data":{"id":"165971156405323676","name":"New group name","active_count":0,"sent_count":0,"opens_count":0,"open_rate":{"float":0,"string":"0%"},"clicks_count":0,"click_rate":{"float":0,"string":"0%"},"unsubscribed_count":0,"unconfirmed_count":0,"bounced_count":0,"junk_count":0,"created_at":"2025-09-19
        11:47:09"}}'
    headers:
      Content-Type:
      - application/json
      x-account_id:
      - '83510'
      x-locale:
      - en
      x-ratelimit-limit:
      - '120'
      x-ratelimit-remaining:
      - '117'
      x-user_id:
      - '106223'
    status:
      code: 200
      message: OK
version: 1
