interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://connect.mailerlite.com/api/groups/165971156405323676/subscribers?limit=5&cursor=1
  response:
    body:
      string: '{"data":[],"links":{"first":null,"last":null,"prev":null,"next":null},"meta":{"path":"https:\/\/connect.mailerlite.com\/api\/groups\/165971156405323676\/subscribers","per_page":5,"next_cursor":null,"prev_cursor":null}}'
    headers:
      Content-Type:
      - application/json
      x-account_id:
      - '83510'
      x-locale:
      - en
      x-ratelimit-limit:
      - '120'
      x-ratelimit-remaining:
      - '116'
      x-user_id:
      - '106223'
    status:
      code: 200
      message: OK
version: 1
