interactions:
- request:
    body: '{"name": "New Name"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://connect.mailerlite.com/api/segments/139794711363717070
  response:
    body:
      string: '{"data":{"id":"139794711363717070","name":"New Name","total":2,"open_rate":{"float":0.75,"string":"75%"},"click_rate":{"float":0,"string":"0%"},"created_at":"2024-12-04
        13:23:45"}}'
    headers:
      Content-Type:
      - application/json
      x-account_id:
      - '83510'
      x-locale:
      - en
      x-ratelimit-limit:
      - '120'
      x-ratelimit-remaining:
      - '94'
      x-user_id:
      - '106223'
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "New Name"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://connect.mailerlite.com/api/segments/123123
  response:
    body:
      string: "{\n    \"message\": \"No query results for model [App\\\\Models\\\\Segment]
        123123\"\n}"
    headers:
      Content-Type:
      - application/json
      x-account_id:
      - '83510'
      x-ratelimit-limit:
      - '120'
      x-ratelimit-remaining:
      - '93'
      x-user_id:
      - '106223'
    status:
      code: 404
      message: Not Found
version: 1
