interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://connect.mailerlite.com/api/segments?limit=10&page=1
  response:
    body:
      string: '{"data":[{"id":"139794711363717070","name":"New Name","total":2,"open_rate":{"float":0.75,"string":"75%"},"click_rate":{"float":0,"string":"0%"},"created_at":"2024-12-04
        13:23:45","automations_using_segment_count":0}],"links":{"first":"https:\/\/connect.mailerlite.com\/api\/segments?page=1","last":"https:\/\/connect.mailerlite.com\/api\/segments?page=1","prev":null,"next":null},"meta":{"current_page":1,"from":1,"last_page":1,"links":[{"url":null,"label":"&laquo;
        Previous","active":false},{"url":"https:\/\/connect.mailerlite.com\/api\/segments?page=1","label":"1","active":true},{"url":null,"label":"Next
        &raquo;","active":false}],"path":"https:\/\/connect.mailerlite.com\/api\/segments","per_page":10,"to":1,"total":1}}'
    headers:
      Content-Type:
      - application/json
      x-account_id:
      - '83510'
      x-locale:
      - en
      x-ratelimit-limit:
      - '120'
      x-ratelimit-remaining:
      - '97'
      x-user_id:
      - '106223'
    status:
      code: 200
      message: OK
version: 1
