interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://connect.mailerlite.com/api/segments/139794711363717070/subscribers
  response:
    body:
      string: '{"data":[{"id":"139791118149617373","email":"ivana@hrcek.rs","status":"active","source":"import","sent":1,"opens_count":0,"clicks_count":0,"open_rate":0,"click_rate":0,"ip_address":null,"subscribed_at":"2024-12-04
        12:26:39","unsubscribed_at":null,"created_at":"2024-12-04 12:26:39","updated_at":"2025-05-13
        06:34:09","fields":{"name":null,"last_name":null,"company":null,"country":null,"city":null,"phone":null,"state":null,"z_i_p":null},"groups":[{"id":"107641605251400900","name":"Grupa2","active_count":9,"sent_count":8,"opens_count":7,"open_rate":{"float":0.875,"string":"87.5%"},"clicks_count":2,"click_rate":{"float":0.25,"string":"25%"},"unsubscribed_count":0,"unconfirmed_count":0,"bounced_count":0,"junk_count":0,"created_at":"2023-12-15
        15:43:54"}],"opted_in_at":null,"optin_ip":null},{"id":"107641591725819839","email":"igor@hrcek.rs","status":"active","source":"manual","sent":3,"opens_count":3,"clicks_count":0,"open_rate":100,"click_rate":0,"ip_address":null,"subscribed_at":"2023-12-15
        15:43:41","unsubscribed_at":null,"created_at":"2023-12-15 15:43:41","updated_at":"2025-05-13
        06:34:09","fields":{"name":"Drugi Igor","last_name":null,"company":null,"country":null,"city":null,"phone":null,"state":null,"z_i_p":null},"groups":[{"id":"107641605251400900","name":"Grupa2","active_count":9,"sent_count":8,"opens_count":7,"open_rate":{"float":0.875,"string":"87.5%"},"clicks_count":2,"click_rate":{"float":0.25,"string":"25%"},"unsubscribed_count":0,"unconfirmed_count":0,"bounced_count":0,"junk_count":0,"created_at":"2023-12-15
        15:43:54"}],"opted_in_at":null,"optin_ip":null}],"links":{"first":null,"last":null,"prev":null,"next":"https:\/\/connect.mailerlite.com\/api\/segments\/139794711363717070\/subscribers?cursor=eyJpZCI6MTA3NjQxNTkxNzI1ODE5ODM5LCJfcG9pbnRzVG9OZXh0SXRlbXMiOnRydWV9"},"meta":{"path":"https:\/\/connect.mailerlite.com\/api\/segments\/139794711363717070\/subscribers","per_page":50,"next_cursor":"eyJpZCI6MTA3NjQxNTkxNzI1ODE5ODM5LCJfcG9pbnRzVG9OZXh0SXRlbXMiOnRydWV9","prev_cursor":null}}'
    headers:
      Content-Type:
      - application/json
      x-account_id:
      - '83510'
      x-locale:
      - en
      x-ratelimit-limit:
      - '120'
      x-ratelimit-remaining:
      - '95'
      x-user_id:
      - '106223'
    status:
      code: 200
      message: OK
version: 1
