interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://connect.mailerlite.com/api/segments/139794711363717070
  response:
    body:
      string: '{"data":{"id":"139794711363717070","name":"New Name","total":2,"open_rate":{"float":0.75,"string":"75%"},"click_rate":{"float":0,"string":"0%"},"created_at":"2024-12-04
        13:23:45"}}'
    headers:
      Content-Type:
      - application/json
      x-account_id:
      - '83510'
      x-locale:
      - en
      x-ratelimit-limit:
      - '120'
      x-ratelimit-remaining:
      - '96'
      x-user_id:
      - '106223'
    status:
      code: 200
      message: OK
version: 1
