interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://connect.mailerlite.com/api/subscribers/import/139791107607233967
  response:
    body:
      string: '{"data":{"id":"139791107607233967","account_id":"83510","total":1,"processed":1,"imported":1,"updated":0,"errored":0,"percent":100,"done":true,"invalid":[],"invalid_count":0,"mistyped":[],"mistyped_count":0,"changed":[],"changed_count":0,"unchanged":[],"unchanged_count":0,"unsubscribed":[],"unsubscribed_count":0,"role_based":[],"role_based_count":0,"suspicious_format":[],"suspicious_format_count":0,"duplicate":[],"duplicate_count":0,"banned_import_emails_count":0,"updated_at":"2024-12-04T12:26:44.000000Z","undone_at":null,"stopped_at":null,"undo_started_at":null,"finished_at":"2024-12-04T12:26:39.000000Z"}}'
    headers:
      Content-Type:
      - application/json
      x-account_id:
      - '83510'
      x-locale:
      - en
      x-ratelimit-limit:
      - '120'
      x-ratelimit-remaining:
      - '87'
      x-user_id:
      - '106223'
    status:
      code: 200
      message: OK
version: 1
