interactions:
- request:
    body: '{"email": "test5@email.com", "fields": {"name": "John", "last_name": "Doe"},
      "ip_address": "1.1.1.1"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://connect.mailerlite.com/api/subscribers
  response:
    body:
      string: '{"data":{"id":"165968862226941797","email":"test5@email.com","status":"active","source":"api","sent":0,"opens_count":0,"clicks_count":0,"open_rate":0,"click_rate":0,"ip_address":"1.1.1.1","subscribed_at":"2025-09-19
        11:10:41","unsubscribed_at":null,"created_at":"2025-09-19 11:10:41","updated_at":"2025-09-19
        11:10:45","fields":{"name":"John","last_name":"Doe","company":null,"country":null,"city":null,"phone":null,"state":null,"z_i_p":null},"groups":[],"opted_in_at":null,"optin_ip":null}}'
    headers:
      Content-Type:
      - application/json
      x-account_id:
      - '83510'
      x-locale:
      - en
      x-ratelimit-limit:
      - '120'
      x-ratelimit-remaining:
      - '72'
      x-user_id:
      - '106223'
    status:
      code: 200
      message: OK
- request:
    body: 'null'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://connect.mailerlite.com/api/subscribers/165968862226941797/forget
  response:
    body:
      string: '{"data":{"id":"165968862226941797","email":"test5@email.com","status":"active","source":"api","sent":0,"opens_count":0,"clicks_count":0,"open_rate":0,"click_rate":0,"ip_address":"1.1.1.1","subscribed_at":"2025-09-19
        11:10:41","unsubscribed_at":null,"created_at":"2025-09-19 11:10:41","updated_at":"2025-09-19
        11:10:45","deleted_at":"2025-09-19 11:10:45","forget_at":"2025-10-19 11:10:45","fields":{"name":"John","last_name":"Doe","company":null,"country":null,"city":null,"phone":null,"state":null,"z_i_p":null},"groups":[],"location":null,"opted_in_at":null,"optin_ip":null},"message":"Subscriber
        data will be completely deleted and forgotten within 30 days."}'
    headers:
      Content-Type:
      - application/json
      x-account_id:
      - '83510'
      x-locale:
      - en
      x-ratelimit-limit:
      - '120'
      x-ratelimit-remaining:
      - '71'
      x-user_id:
      - '106223'
    status:
      code: 200
      message: OK
version: 1
