interactions:
- request:
    body: '{"email": "MNMnxYoVFs@email.com", "fields": {"name": "John", "last_name":
      "Doe"}, "ip_address": "1.1.1.1"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://connect.mailerlite.com/api/subscribers
  response:
    body:
      string: '{"data":{"id":"165968864817972707","email":"mnmnxyovfs@email.com","status":"active","source":"api","sent":0,"opens_count":0,"clicks_count":0,"open_rate":0,"click_rate":0,"ip_address":"1.1.1.1","subscribed_at":"2025-09-19
        11:10:43","unsubscribed_at":null,"created_at":"2025-09-19 11:10:43","updated_at":"2025-09-19
        11:10:43","fields":{"name":"John","last_name":"Doe","company":null,"country":null,"city":null,"phone":null,"state":null,"z_i_p":null},"groups":[],"opted_in_at":null,"optin_ip":null}}'
    headers:
      Content-Type:
      - application/json
      x-account_id:
      - '83510'
      x-locale:
      - en
      x-ratelimit-limit:
      - '120'
      x-ratelimit-remaining:
      - '81'
      x-user_id:
      - '106223'
    status:
      code: 201
      message: Created
- request:
    body: '{"name": "MNMnxYoVFs"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://connect.mailerlite.com/api/groups
  response:
    body:
      string: '{"data":{"id":"165968865095845582","name":"MNMnxYoVFs","active_count":0,"sent_count":0,"opens_count":0,"open_rate":{"float":0,"string":"0%"},"clicks_count":0,"click_rate":{"float":0,"string":"0%"},"unsubscribed_count":0,"unconfirmed_count":0,"bounced_count":0,"junk_count":0,"created_at":"2025-09-19
        11:10:43"}}'
    headers:
      Content-Type:
      - application/json
      x-account_id:
      - '83510'
      x-locale:
      - en
      x-ratelimit-limit:
      - '120'
      x-ratelimit-remaining:
      - '80'
      x-user_id:
      - '106223'
    status:
      code: 201
      message: Created
- request:
    body: 'null'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://connect.mailerlite.com/api/subscribers/165968864817972707/groups/165968865095845582
  response:
    body:
      string: '{"data":{"id":"165968865095845582","name":"MNMnxYoVFs","active_count":0,"sent_count":0,"opens_count":0,"open_rate":{"float":0,"string":"0%"},"clicks_count":0,"click_rate":{"float":0,"string":"0%"},"unsubscribed_count":0,"unconfirmed_count":0,"bounced_count":0,"junk_count":0,"created_at":"2025-09-19
        11:10:43"}}'
    headers:
      Content-Type:
      - application/json
      x-account_id:
      - '83510'
      x-locale:
      - en
      x-ratelimit-limit:
      - '120'
      x-ratelimit-remaining:
      - '79'
      x-user_id:
      - '106223'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://connect.mailerlite.com/api/subscribers/165968864817972707
  response:
    body:
      string: ''
    headers:
      x-account_id:
      - '83510'
      x-locale:
      - en
      x-ratelimit-limit:
      - '120'
      x-ratelimit-remaining:
      - '77'
      x-user_id:
      - '106223'
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://connect.mailerlite.com/api/groups/165968865095845582
  response:
    body:
      string: ''
    headers:
      x-account_id:
      - '83510'
      x-locale:
      - en
      x-ratelimit-limit:
      - '120'
      x-ratelimit-remaining:
      - '76'
      x-user_id:
      - '106223'
    status:
      code: 204
      message: No Content
version: 1
