interactions:
- request:
    body: '{"email": "grouptest@email.com", "fields": {"name": "John", "last_name":
      "Doe"}, "ip_address": "1.1.1.1"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://connect.mailerlite.com/api/subscribers
  response:
    body:
      string: '{"data":{"id":"139790465506477360","email":"grouptest@email.com","status":"active","source":"api","sent":0,"opens_count":0,"clicks_count":0,"open_rate":0,"click_rate":0,"ip_address":"1.1.1.1","subscribed_at":"2024-12-04
        12:16:16","unsubscribed_at":null,"created_at":"2024-12-04 12:16:16","updated_at":"2025-09-19
        11:10:42","fields":{"name":"John","last_name":"Doe","company":null,"country":null,"city":null,"phone":null,"state":null,"z_i_p":null},"groups":[],"opted_in_at":null,"optin_ip":null}}'
    headers:
      Content-Type:
      - application/json
      x-account_id:
      - '83510'
      x-locale:
      - en
      x-ratelimit-limit:
      - '120'
      x-ratelimit-remaining:
      - '86'
      x-user_id:
      - '106223'
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "UhtyyCDqLt"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://connect.mailerlite.com/api/groups
  response:
    body:
      string: '{"data":{"id":"165968863812388812","name":"UhtyyCDqLt","active_count":0,"sent_count":0,"opens_count":0,"open_rate":{"float":0,"string":"0%"},"clicks_count":0,"click_rate":{"float":0,"string":"0%"},"unsubscribed_count":0,"unconfirmed_count":0,"bounced_count":0,"junk_count":0,"created_at":"2025-09-19
        11:10:42"}}'
    headers:
      Content-Type:
      - application/json
      x-account_id:
      - '83510'
      x-locale:
      - en
      x-ratelimit-limit:
      - '120'
      x-ratelimit-remaining:
      - '85'
      x-user_id:
      - '106223'
    status:
      code: 201
      message: Created
- request:
    body: 'null'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://connect.mailerlite.com/api/subscribers/139790465506477360/groups/165968863812388812
  response:
    body:
      string: '{"data":{"id":"165968863812388812","name":"UhtyyCDqLt","active_count":0,"sent_count":0,"opens_count":0,"open_rate":{"float":0,"string":"0%"},"clicks_count":0,"click_rate":{"float":0,"string":"0%"},"unsubscribed_count":0,"unconfirmed_count":0,"bounced_count":0,"junk_count":0,"created_at":"2025-09-19
        11:10:42"}}'
    headers:
      Content-Type:
      - application/json
      x-account_id:
      - '83510'
      x-locale:
      - en
      x-ratelimit-limit:
      - '120'
      x-ratelimit-remaining:
      - '84'
      x-user_id:
      - '106223'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://connect.mailerlite.com/api/subscribers/139790465506477360
  response:
    body:
      string: ''
    headers:
      x-account_id:
      - '83510'
      x-locale:
      - en
      x-ratelimit-limit:
      - '120'
      x-ratelimit-remaining:
      - '83'
      x-user_id:
      - '106223'
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://connect.mailerlite.com/api/groups/165968863812388812
  response:
    body:
      string: ''
    headers:
      x-account_id:
      - '83510'
      x-locale:
      - en
      x-ratelimit-limit:
      - '120'
      x-ratelimit-remaining:
      - '82'
      x-user_id:
      - '106223'
    status:
      code: 204
      message: No Content
version: 1
