interactions:
- request:
    body: '{"name": "My New Webhook Name", "enabled": true}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://connect.mailerlite.com/api/webhooks/165968867532736034
  response:
    body:
      string: '{"data":{"id":"165968867532736034","name":"My New Webhook Name","url":"https:\/\/mailerlite.com","events":["subscriber.created","subscriber.unsubscribed"],"enabled":true,"is_blocked":false,"secret":"yaEgW3JvHz","created_at":"2025-09-19
        11:10:46","updated_at":"2025-09-19 11:10:46","batchable":false,"version":"2022-01","last_fired_at":null,"response_code":null}}'
    headers:
      Content-Type:
      - application/json
      x-account_id:
      - '83510'
      x-locale:
      - en
      x-ratelimit-limit:
      - '120'
      x-ratelimit-remaining:
      - '66'
      x-user_id:
      - '106223'
    status:
      code: 200
      message: OK
version: 1
