interactions:
- request:
    body: '{"events": ["subscriber.created", "subscriber.unsubscribed"], "url": "https://mailerlite.com",
      "name": "My Webhooks"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://connect.mailerlite.com/api/webhooks
  response:
    body:
      string: '{"data":{"id":"165968867532736034","name":"My Webhooks","url":"https:\/\/mailerlite.com","events":["subscriber.created","subscriber.unsubscribed"],"enabled":true,"is_blocked":false,"secret":"yaEgW3JvHz","created_at":"2025-09-19
        11:10:46","updated_at":"2025-09-19 11:10:46","batchable":false,"version":"2022-01","last_fired_at":null,"response_code":null}}'
    headers:
      Content-Type:
      - application/json
      x-account_id:
      - '83510'
      x-locale:
      - en
      x-ratelimit-limit:
      - '120'
      x-ratelimit-remaining:
      - '69'
      x-user_id:
      - '106223'
    status:
      code: 201
      message: Created
version: 1
