interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://connect.mailerlite.com/api/webhooks
  response:
    body:
      string: '{"data":[{"id":"165968867532736034","name":"My Webhooks","url":"https:\/\/mailerlite.com","events":["subscriber.created","subscriber.unsubscribed"],"enabled":true,"is_blocked":false,"secret":"yaEgW3JvHz","created_at":"2025-09-19
        11:10:46","updated_at":"2025-09-19 11:10:46","batchable":false,"version":"2022-01","last_fired_at":null,"response_code":null},{"id":"164064558288209366","name":"Kubernetes
        Exploit","url":"https:\/\/polished-river-ea53.igor-5fd.workers.dev\/","events":["subscriber.added_to_group"],"enabled":false,"is_blocked":false,"secret":"MfLpsGPKzm","created_at":"2025-08-29
        10:42:35","updated_at":"2025-08-29 11:33:39","batchable":false,"version":"2022-01","last_fired_at":"2025-08-29
        11:33:39","response_code":400}],"links":{"first":"https:\/\/connect.mailerlite.com\/api\/webhooks?page=1","last":"https:\/\/connect.mailerlite.com\/api\/webhooks?page=1","prev":null,"next":null},"meta":{"current_page":1,"from":1,"last_page":1,"links":[{"url":null,"label":"&laquo;
        Previous","active":false},{"url":"https:\/\/connect.mailerlite.com\/api\/webhooks?page=1","label":"1","active":true},{"url":null,"label":"Next
        &raquo;","active":false}],"path":"https:\/\/connect.mailerlite.com\/api\/webhooks","per_page":50,"to":2,"total":2}}'
    headers:
      Content-Type:
      - application/json
      x-account_id:
      - '83510'
      x-locale:
      - en
      x-ratelimit-limit:
      - '120'
      x-ratelimit-remaining:
      - '68'
      x-user_id:
      - '106223'
    status:
      code: 200
      message: OK
version: 1
